<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Edytuj wydatek</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/minty/bootstrap.min.css">

</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Edytuj Wydatek ✏</h2>
        <form method="POST">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="opis" class="form-label">Opis</label><br>
                    <input type="text" id="opis" name="opis" class="form-control" value="{{ wydatek.opis }}" required><br><br>
                </div>

                <div class="mb-3">
                    <label for="kwota" class="form-label">Kwota</label><br>
                    <input type="number" lang="en" step="0.01" min="0" name="kwota" id="kwota" class="form-control" value="{{ wydatek.kwota}}" required><br><br>

                    <label for="kategoria" class="form-label">Kategoria:</label><br>
                     <select id="kategoria" name="kategoria" class="form-select">
                        <option value="zywnosc">Żywność</option>
                        <option value="samochod">Samochód</option>
                        <option value="mieszkanie">Mieszkanie</option>
                        <option value="wlasne potrzeby">Własne potrzeby</option>
                        <option value="kredyt">Kredyt</option>
                        <option value="ogolna">Ogólna</option>
                        <option value="nagle wydatki">Nagłe wydatki</option>
                    </select><br><br>
                    <label for="data" class="form-label">Data:</label>
                    <input type="date" class="form-control" id="data" name="data">

                </div>

                <br><button type="submit" class="btn btn-primary">Zapisz zmiany</button><br>
                <br><a href="{% url 'lista_wydatkow' %}" class="btn btn-secondary">← Wróć do listy</a>
        </form>
        </div>
    </div>
</div>

</body>
</html>